<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetClassifierApp</title>
</head>
<body>
    {% load static %}
    <h1>Welcome to PetClassifier app</h1>
    <form method="post" enctype="multipart/form-data">
        {%csrf_token %}
        <input type="file" name="sentFile"> <br> <br>
        <input type="submit" name="submit" value="Upload"><br>
        <img src="{% static 'test.jpg' %}">
        <h2>{{caption}}
        </h2>
    </form>
</body>
</html>